/* Regole di reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Stile font */
body {
    font-family: sans-serif;
}

/* Stilizzazione elementi comuni */

.padding-50 {
    padding: 50px 0;
}

.width-900 {
    max-width: 900px;
}

.width-1200 {
    max-width: 1200px;
}

a {
    text-decoration: none;
    color: black;
}

.container {
    display: flex;
    justify-content: center;
    height: 500px;
    border: 2px dashed black;
    margin: auto;
}

/* sfondo sezioni 2 e 5 */
section:nth-of-type(2n+3) {
    background-color: #D3D3D3;
}

/* Fine stilizzazione elementi comuni*/

/* Stilizzazione header */

#main-container header {
    background-color: #ADD8E6;
    padding: 10px 0;
    display: flex;
    justify-content: center;
}

#main-container header .header-container {
    display: flex;
    height: 45px;
    justify-content: space-between;
    background-color: #DAA520;
    width: 1200px;
    gap: 10px 0;
}

#main-container header .header-container {
    border: 1px dashed black;
    padding: 10px;
}


#main-container header .header-container div:nth-of-type(1),
#main-container header .header-container div:nth-of-type(3) {
    flex-grow: 1;
}

#main-container header .header-container div:nth-of-type(2) {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-grow: 2;
}

#main-container header .header-container div:nth-of-type(3) {
    display: flex;
    justify-content: flex-end;
}

/* Fine stilizzazione header */

/* Prima section */

section .container {
    display: flex;
}

section:nth-of-type(1) {
    background-color: #00008B;
}

section:nth-of-type(1) .container {
    background-color: #EE82EE;
}

/* Stile seconda e quarta sezione */

section .container .div-a {
    background-color: #1E90FF;
    width: 715px;
}

section .container .div-b {
    background-color: pink;
    flex-grow: 1;
}

/* Terza sezione */

section:nth-of-type(3)>div {
    display: flex;
    flex-direction: row-reverse;
}

/* Quinta sezione*/

section:nth-of-type(5) .container {
    height: 900px;
    background-color: #228B22;
}

/* Stilizzazione footer */

footer {
    background-color: #23272A;
}

.footer-container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: center;
    padding: 5px 0 30px;
}

.footer-container * {
    width: 210px;
    height: 600px;
    background-color: #20B2AA;
    border: 1px dashed white;

}

.footer-container *:first-of-type {
    flex-grow: 2;
    background-color: #F08080;
    border-color: black;
}

.footer-link {
    margin: auto;
    display: flex;
    justify-content: space-between;
    background-color: #7FFFD4;
    padding: 20px 0;
}

.footer-link button {
    background-color: #FFB6C1;
    padding: 10px 20px;
    border: 1px dashed black;
}

.border {
    border-top: 1px solid white;
    padding-top: 30px;
}

/* Fine stilizzazione footer */